@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Borel&family=Dancing+Script&family=Edu+SA+Beginner&family=Hind+Madurai&family=Indie+Flower&family=Inter&family=Lora&family=Open+Sans&family=Pacifico&family=Poppins&family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
